@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: url("../misc/fonts/NewsCycle-Regular.ttf"); }
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: url("../misc/fonts/NewsCycle-Bold.ttf"); }
/* latin-ext */
@font-face {
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  src: url("../misc/fonts/Fenix-Regular.ttf"); }
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url("../misc/fonts/FjallaOne-Regular.ttf"); }
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: "Fjalla One", sans-serif, "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  letter-spacing: 0.5px;
  font-size: 16px;
  color: #4A4A4A;
  overflow: hidden;
  background-color: #fbfbfb; }

html {
  height: 100%; }

body::-webkit-scrollbar {
  display: none; }

html::-webkit-scrollbar {
  display: none; }

.main {
  background-color: #fbfbfb;
  -webkit-transition: all 0.25s linear; }

.main.slidedown {
  transform: translate3d(0px, 255px, 0px);
  -webkit-transform: translate3d(0px, 255px, 0px); }

/**
 *
 * CSS SPINNER
 */
.spinner {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
  background-size: contain; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@keyframes colors {
  0% {
    stroke: #3eb3da; }
  100% {
    stroke: #3eb3da; } }
@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }
/** CSS SPINNER END */
.loaderOverlay {
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(251, 251, 251, 0.8);
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 3;
  text-align: center; }
  .loaderOverlay .message {
    margin-top: 50%;
    font-size: 100%;
    font-weight: bold; }

._wrapper {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding-top: 1px; }
  ._wrapper .allThemes {
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-transition: all linear 0.2s;
    -webkit-transform: scale(0, 0);
    z-index: 3; }
    ._wrapper .allThemes .allThemesCont {
      height: auto;
      background-color: #3eb3da;
      margin: 50px 30px;
      box-shadow: 0 0 5px #000;
      padding: 20px 15px;
      text-align: center;
      color: #fff;
      border-radius: 2px; }
      ._wrapper .allThemes .allThemesCont .themeBucket:nth-last-child(1) {
        margin-bottom: 0; }
      ._wrapper .allThemes .allThemesCont .themeBucket {
        margin-bottom: 25px; }
        ._wrapper .allThemes .allThemesCont .themeBucket .th {
          display: inline-block;
          padding: 5px 10px;
          background-color: #f1c40f;
          margin: 5px;
          font-size: 95%; }
      ._wrapper .allThemes .allThemesCont .label {
        margin-bottom: 20px; }
        ._wrapper .allThemes .allThemesCont .label .labelMsg {
          font-size: 85%;
          margin-top: 5px;
          font-family: "News Cycle", sans-serif; }
  ._wrapper .allThemes.show {
    -webkit-transform: scale(1, 1); }
  ._wrapper .allThemes.bgShow {
    background-color: rgba(255, 255, 255, 0.5); }
  ._wrapper #infoMessage {
    position: fixed;
    width: 90%;
    bottom: 80px;
    left: 5%;
    border-radius: 6px;
    background-color: #DEF174;
    text-align: center;
    font-size: 80%;
    display: none;
    z-index: 2;
    padding: 5px 0;
    font-family: "News Cycle", sans-serif; }
  ._wrapper #infoMessage.error {
    background-color: #ffcccc; }
  ._wrapper .imgHelpOverlay {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 3;
    background-image: url("../img/help_overlay/article.png");
    display: none; }
  ._wrapper .imgHelpOverlay.show {
    display: block; }
  ._wrapper .btn {
    height: 35px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    font-size: 90%;
    border: 2px solid #3eb3da; }
  ._wrapper input {
    display: block;
    margin: auto;
    box-shadow: #ccc 0 0 1px  inset;
    border-radius: 5px;
    padding-left: 10px; }

/**
 * USER PROFILE PAGE
 */
._wrapper .userProfile {
  display: none;
  margin: auto;
  text-align: center;
  margin-top: 80px;
  background-color: #fbfbfb; }
  ._wrapper .userProfile .email {
    height: 30px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px; }
  ._wrapper .userProfile .changePass {
    font-size: 80%; }
  ._wrapper .userProfile .btn {
    width: 150px;
    margin-bottom: 20px;
    font-family: "News Cycle", sans-serif; }
  ._wrapper .userProfile input.password {
    display: none;
    width: 175px;
    margin-bottom: 30px;
    height: 30px;
    font-size: 90%; }
  ._wrapper .userProfile .message {
    font-size: 80%;
    font-family: "News Cycle", sans-serif; }
    ._wrapper .userProfile .message .error {
      color: #B91F31;
      size: 120%;
      font-weight: bold; }

/**
 * LOGIN / REGISTER
 */
._wrapper .userForm {
  padding: 60px 20px;
  display: none;
  text-align: center;
  font-family: "News Cycle", sans-serif; }
  ._wrapper .userForm .logoForm {
    text-align: center;
    margin-bottom: 25px;
    font-size: 200%;
    color: #3eb3da;
    font-weight: bold;
    font-family: "Fjalla One", sans-serif, "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial; }
  ._wrapper .userForm .loginMsg {
    margin-bottom: 25px;
    font-size: 80%; }
  ._wrapper .userForm .btn {
    width: 100px;
    display: inline-block; }
  ._wrapper .userForm .btn.loading {
    background-image: url(http://loadergenerator.com/gif-load);
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
    background-size: contain;
    background-position: center; }
  ._wrapper .userForm input {
    width: 200px;
    margin-bottom: 25px;
    height: 40px;
    font-size: 100%; }
  ._wrapper .userForm .message {
    text-align: center;
    font-size: 80%;
    margin-top: 20px;
    opacity: 0.7; }
    ._wrapper .userForm .message .error {
      font-size: 120%;
      color: #E91216;
      font-weight: bold; }
    ._wrapper .userForm .message .backtologin {
      text-decoration: underline;
      margin-top: 30px;
      text-transform: uppercase;
      font-size: 120%;
      font-weight: bold; }
  ._wrapper .userForm .forgotPass {
    text-decoration: underline;
    display: inline-block;
    padding: 0 5px; }
  ._wrapper .userForm .btn2 {
    display: inline-block;
    text-decoration: underline;
    padding: 20px 10px; }
  ._wrapper .userForm .sendTemp {
    display: none;
    width: 225px; }

._wrapper .userForm.forgot .forgotPass {
  display: none; }
._wrapper .userForm.forgot input.password {
  display: none; }
._wrapper .userForm.forgot .login {
  display: none; }
._wrapper .userForm.forgot .register {
  display: none; }
._wrapper .userForm.forgot .sendTemp {
  display: block; }
._wrapper .userForm.forgot .divider {
  display: none; }

._wrapper .logo {
  position: relative;
  height: 100%;
  padding-top: 50px; }
  ._wrapper .logo .heading {
    height: 125px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/logo.png); }
  ._wrapper .logo .writeup {
    display: none;
    margin: 30px 15px;
    text-align: center;
    padding: 10px;
    border: 2px solid #F1C40F;
    border-radius: 3px;
    font-family: "News Cycle", sans-serif; }
  ._wrapper .logo .btn {
    width: 100px;
    display: none;
    font-family: "News Cycle", sans-serif; }
  ._wrapper .logo img {
    left: 50%;
    margin-top: 30px;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -25px; }

._wrapper .logo.firstLaunch .writeup {
  display: block; }
._wrapper .logo.firstLaunch img {
  display: none; }
._wrapper .logo.firstLaunch .btn {
  display: block; }

._wrapper .main.locked {
  opacity: 0.3; }

/**
 * POSTS
 */
._wrapper .posts::-webkit-scrollbar {
  display: none; }

._wrapper .posts {
  padding-top: 43px;
  display: none;
  overflow: scroll;
  background-color: #f0f0f0; }
  ._wrapper .posts .post.noBorder {
    border-top: 0px; }
  ._wrapper .posts .post {
    padding: 15px 0;
    position: relative;
    width: 95%;
    margin: 8% 2.5%;
    box-shadow: #AAA 0 3px 4px;
    background-color: #fff; }
    ._wrapper .posts .post .metainfoWrapper {
      margin-top: 20px;
      text-align: center;
      padding: 0 15px; }
      ._wrapper .posts .post .metainfoWrapper .metainfo {
        line-height: 20px;
        color: #9B9B9B;
        height: 100%; }
      ._wrapper .posts .post .metainfoWrapper .metainfo.progress {
        padding-top: 19px;
        margin-right: 90%;
        background-image: url(../img/addedfav_theme.png);
        padding-left: 0px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: auto 15px;
        position: absolute;
        top: 20px;
        left: 91%;
        font-size: 75%; }
      ._wrapper .posts .post .metainfoWrapper .metainfo.themeNames {
        position: relative;
        height: 30px;
        display: inline-block;
        text-align: center; }
        ._wrapper .posts .post .metainfoWrapper .metainfo.themeNames .th {
          padding: 0px 10px;
          height: 25px;
          line-height: 22px;
          background-color: #3eb3da;
          margin-right: 15px;
          font-size: 90%;
          color: #fff;
          min-width: 45px;
          margin-top: 2px;
          border-radius: 2px;
          display: inline-block;
          text-align: center;
          font-family: "News Cycle", sans-serif;
          font-weight: bold;
          margin-bottom: 10px; }
        ._wrapper .posts .post .metainfoWrapper .metainfo.themeNames .th:nth-last-child {
          margin-right: 0; }
      ._wrapper .posts .post .metainfoWrapper .metainfo.themeName {
        background-size: 12px;
        background-repeat: no-repeat;
        text-transform: up;
        font-size: 85%;
        background-position: 31% center;
        width: 100px;
        line-height: 32px;
        text-align: center;
        height: 30px;
        vertical-align: top;
        border-radius: 4px;
        border: 2px solid #3eb3da; }
        ._wrapper .posts .post .metainfoWrapper .metainfo.themeName .catImage {
          height: 100%;
          width: 30px;
          display: inline-block;
          margin-right: 0px;
          vertical-align: top;
          background-position: center;
          background-size: 50%;
          background-repeat: no-repeat; }
      ._wrapper .posts .post .metainfoWrapper .metainfo.source {
        text-align: right;
        font-size: 80%;
        font-family: "News Cycle", sans-serif;
        padding: 0 4%;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        line-height: 28px;
        height: 30px;
        font-weight: bold; }
    ._wrapper .posts .post .title {
      text-align: center;
      font-size: 110%;
      display: block;
      padding: 0 35px;
      line-height: 175%;
      margin-bottom: 20px;
      font-weight: bold; }
    ._wrapper .posts .post .summary {
      text-align: center;
      font-size: 95%;
      word-wrap: break-word;
      line-height: 150%;
      padding: 0 15px;
      letter-spacing: 0.5px;
      font-family: "Fenix", sans-serif, "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif; }
    ._wrapper .posts .post .image {
      height: 200px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 20px; }
  ._wrapper .posts .post.empty {
    text-align: center; }
  ._wrapper .posts .post.saved.inProgress .title {
    opacity: 1;
    margin-bottom: 10px;
    padding: 0 15px; }
  ._wrapper .posts .post.saved.inProgress .metainfoWrapper {
    margin-bottom: 0px;
    font-size: 95%;
    font-family: "News Cycle", sans-serif; }
  ._wrapper .posts .post.saved.inProgress .metainfo .progressText {
    color: #3eb3da; }
  ._wrapper .posts .loadmore {
    padding: 5px 0;
    text-transform: uppercase;
    width: 60%;
    margin: auto;
    border: 2px solid #3eb3da;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    color: #3eb3da;
    font-family: "News Cycle", sans-serif;
    background-color: #fff; }
  ._wrapper .posts .loadmore.nomore {
    border: 0px;
    text-transform: initial;
    width: 90%;
    font-size: 90%; }
  ._wrapper .posts .loadmore.error {
    font-size: 75%;
    text-transform: initial; }
  ._wrapper .posts .loadmore.loading {
    background-image: url("../img/loader.gif");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    color: transparent;
    background-color: transparent;
    box-shadow: 0 0 0;
    border: 0px; }
  ._wrapper .posts .timestamp.completed .text {
    background-image: url(../img/check.png);
    background-position: center;
    background-size: 45%;
    background-repeat: no-repeat; }
  ._wrapper .posts .timestamp {
    background-size: 15px;
    text-align: justify;
    background-repeat: no-repeat;
    background-position: 6px 1px;
    color: #9B9B9B;
    text-transform: uppercase;
    padding-top: 5px;
    width: 100%;
    font-size: 110%;
    z-index: 2;
    font-weight: bold;
    position: relative;
    height: 40px;
    z-index: 1;
    font-family: "News Cycle", sans-serif; }
    ._wrapper .posts .timestamp .updateTime {
      font-size: 70%;
      margin-top: 5px;
      color: #999;
      position: absolute;
      width: 97%;
      margin-top: -2px;
      text-transform: initial;
      text-align: right;
      margin-right: 5px;
      font-weight: bold; }
    ._wrapper .posts .timestamp .text {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: #F1C40F;
      font-size: 60%;
      text-align: center;
      z-index: 22222;
      position: absolute;
      margin-left: 10px;
      color: white; }
      ._wrapper .posts .timestamp .text .day {
        line-height: 14px;
        font-size: 200%; }
      ._wrapper .posts .timestamp .text .month {
        line-height: 24px;
        display: inline-block;
        width: 100%; }
      ._wrapper .posts .timestamp .text .month.today {
        max-width: 60%;
        word-wrap: break-word;
        line-height: 18px;
        margin-top: 7px;
        font-size: 155%; }
    ._wrapper .posts .timestamp .line {
      width: 100%;
      position: absolute;
      display: none;
      height: 4px;
      top: 27px;
      background-color: #F1C40F;
      display: block; }
  ._wrapper .posts .timestamp.current {
    position: fixed;
    z-index: 2; }
    ._wrapper .posts .timestamp.current .line {
      display: none; }

/**
 * THEMES
 */
._wrapper .themes {
  padding-top: 44px;
  display: none;
  background-color: #fbfbfb; }
  ._wrapper .themes .themesC {
    overflow: scroll;
    padding: 15px;
    text-align: center; }
  ._wrapper .themes .themesC::-webkit-scrollbar {
    width: 0 !important; }
  ._wrapper .themes .de.show {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  ._wrapper .themes .de {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0%;
    background-color: transparent;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all linear 0.2s; }
    ._wrapper .themes .de .describe {
      background-color: #fff;
      width: 80%;
      border: 1px solid #CCC;
      top: 35%;
      position: absolute;
      left: 4%;
      padding: 5%;
      border-radius: 4px;
      box-shadow: #000000 0 0 2px; }
      ._wrapper .themes .de .describe .head {
        position: relative;
        font-size: 110%;
        font-weight: bold; }
        ._wrapper .themes .de .describe .head .img {
          height: 25px;
          width: 25px;
          display: inline-block;
          margin-left: 10px;
          margin-top: -5px;
          background-size: 100%;
          vertical-align: middle; }
      ._wrapper .themes .de .describe .para {
        font-family: "Fenix", sans-serif, "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
        font-size: 90%;
        margin-top: 20px;
        float: left;
        width: 80%;
        line-height: 150%; }
      ._wrapper .themes .de .describe .button {
        background-image: url(../img/arrow.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        height: 38px;
        width: 38px;
        border: 2px solid #676F71;
        background-color: #fff;
        border-radius: 50%;
        -webkit-transition: background-color .5s ease;
        top: 50%;
        position: absolute;
        right: 15px;
        margin-top: -19px; }
  ._wrapper .themes .done {
    margin: 0 10px;
    text-align: center;
    font-style: normal;
    height: 50px;
    padding-top: 20px;
    font-size: 90%;
    font-family: "News Cycle", sans-serif;
    width: 70%;
    margin: auto; }
  ._wrapper .themes .done.btn {
    font-size: 140%;
    width: 50%;
    height: 30px;
    text-transform: uppercase;
    line-height: 27px;
    font-style: normal;
    color: #3eb3da;
    border: 2px solid #3eb3da;
    border-radius: 5px;
    margin: 20px auto;
    padding: 0; }
  ._wrapper .themes .none.theme {
    display: none; }
  ._wrapper .themes .theme.selected {
    background-color: #3eb3da;
    color: #ffffff; }
  ._wrapper .themes .themeBucket {
    margin-bottom: 30px; }
  ._wrapper .themes .theme {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid #3eb3da;
    border-radius: 4px;
    color: #3eb3da;
    font-size: 90%; }
    ._wrapper .themes .theme .catImg {
      display: inline-block;
      width: 10%;
      height: 35px;
      vertical-align: middle;
      margin: 0 5%;
      background-size: 45% auto;
      border-radius: 50%;
      width: 35px;
      background-position: center;
      border: 1px solid #f1c40f;
      box-shadow: #f1c40f 0 0 1px;
      background-repeat: no-repeat; }
    ._wrapper .themes .theme span {
      position: relative;
      left: 20%;
      bottom: -25px; }
    ._wrapper .themes .theme .title {
      font-size: 100%;
      display: inline-block;
      vertical-align: middle; }
    ._wrapper .themes .theme .checkboxW {
      height: 50px;
      width: 70px;
      display: inline-block;
      vertical-align: middle;
      position: relative; }
    ._wrapper .themes .theme .checkbox {
      text-align: center;
      height: 20px;
      width: 20px;
      margin: auto;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: background-color .5s ease;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 52% 40%;
      border: 2px solid #3eb3da;
      vertical-align: middle;
      background-size: 13px;
      background-repeat: no-repeat;
      background-position: center;
      top: 50%;
      position: absolute;
      margin-top: -12px;
      left: 50%;
      margin-left: -10px; }
    ._wrapper .themes .theme .descr {
      text-align: center;
      font-size: 95%;
      position: relative;
      bottom: -10px;
      width: 100%;
      padding-bottom: 0px; }
    ._wrapper .themes .theme .none.descr {
      display: none; }
  ._wrapper .themes .theme .selected.checkboxW .checkbox {
    background-size: 13px;
    background-repeat: no-repeat;
    background-image: url(../img/check_colored.png);
    background-size: 50%;
    background-position: center; }

._wrapper .postFull {
  display: none; }
  ._wrapper .postFull .postFullContWrapper {
    margin-top: 55px; }

/**
 * Sections
 */
._wrapper .sections {
  padding-top: 44px;
  display: none;
  box-shadow: #000000 0 0 2px;
  border-bottom: 8px solid #3eb3da;
  font-size: 120%;
  position: fixed;
  height: 200px;
  width: 100%;
  z-index: 0;
  left: 0; }
  ._wrapper .sections .link {
    padding: 15px 0;
    border-bottom: 1px solid #999;
    background-size: auto 15px;
    background-repeat: no-repeat;
    background-position: 30% center;
    color: #4A4A4A;
    padding-left: 40%;
    font-size: 80%;
    text-transform: uppercase;
    font-weight: bold; }
  ._wrapper .sections .link.home {
    background-image: url(../img/home_dark.png); }
  ._wrapper .sections .link.allthemes {
    background-image: url(../img/setting.png); }
  ._wrapper .sections .link.saved {
    background-image: url(../img/addedfav_dark.png); }
  ._wrapper .sections .link.profile {
    background-image: url(../img/user.png); }

._wrapper .postFull {
  padding: 0 15px;
  overflow: scroll;
  font-size: 100%;
  letter-spacing: 0.5px; }
  ._wrapper .postFull .title {
    margin-top: 10%;
    font-family: "Fjalla One", sans-serif, "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial;
    font-size: 150%;
    line-height: 30px;
    color: #9B9B9B; }
  ._wrapper .postFull .author {
    position: relative; }
  ._wrapper .postFull .audate {
    display: block;
    text-align: right;
    margin: 25px 0 30px 0; }
    ._wrapper .postFull .audate .date, ._wrapper .postFull .audate .author {
      display: inline;
      font-family: "Fenix", sans-serif, "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
      font-size: 100%;
      color: #9B9B9B; }
  ._wrapper .postFull .image {
    margin-top: 25px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%; }
  ._wrapper .postFull .content {
    text-align: justify;
    margin-top: 5%;
    font-family: "Fenix", sans-serif, "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 105%;
    line-height: 150%; }
    ._wrapper .postFull .content iframe {
      max-width: 100%; }
    ._wrapper .postFull .content .postDisclaimer {
      font-style: italic;
      margin-bottom: 25px;
      font-size: 90%;
      color: #9B9B9B; }
      ._wrapper .postFull .content .postDisclaimer a {
        color: #9B9B9B; }
  ._wrapper .postFull .imageCont {
    text-align: center;
    height: 75px;
    overflow: hidden; }
    ._wrapper .postFull .imageCont p.imgMsg {
      font-size: 70%;
      opacity: 0.7;
      text-align: center;
      margin: 0; }
    ._wrapper .postFull .imageCont img {
      max-height: 100px;
      max-width: 100%; }
  ._wrapper .postFull p {
    font-family: "Fenix", sans-serif, "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
    margin: 25px 0;
    line-height: 25px !important;
    word-break: break-word; }
  ._wrapper .postFull strong, ._wrapper .postFull b {
    font-family: "Fenix", sans-serif, "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
    line-height: 25px !important; }
  ._wrapper .postFull a {
    font-family: "Fenix", sans-serif, "HelveticaNeue-Light", "HelveticaNeue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    text-decoration: underline;
    font-style: italic;
    color: #2B2B2B; }

/**
 * HEADER
 */
#header {
  top: 0;
  position: fixed;
  height: 44px;
  width: 100%;
  background-color: #3eb3da;
  z-index: 2;
  display: none;
  left: 0; }
  #header .headerBtn {
    background-size: auto 20px; }
  #header .save, #header .share, #header .back {
    position: absolute;
    height: 45px;
    width: 45px;
    background-position: center;
    background-repeat: no-repeat; }
  #header .save {
    right: 10px;
    background-image: url("../img/addfav.png");
    display: none; }
  #header .allTh {
    height: 44px;
    width: 44px;
    position: absolute;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(../img/themes.png);
    right: 80px; }
  #header .share {
    right: 65px;
    display: none;
    font-size: 20px;
    line-height: 45px;
    background-image: url("../img/share.png"); }
  #header .save.saved {
    background-image: url("../img/addedfav.png"); }
  #header .progress {
    position: absolute;
    display: none;
    top: 10px;
    width: 75px;
    height: 25px;
    left: 50%;
    margin-left: -37px;
    text-align: center;
    font-size: 120%;
    right: 0;
    line-height: 24px;
    color: white;
    letter-spacing: 5px; }
  #header .back {
    font-size: 180%;
    position: absolute;
    line-height: 20px;
    display: none;
    text-align: center;
    color: white;
    background-image: url(../img/back.png); }
  #header .refreshI {
    background-image: url(../img/refresh.png);
    right: 145px; }
  #header .menu {
    background-image: url(../img/menu.png);
    right: 10px; }
  #header .menu, #header .refreshI {
    height: 44px;
    width: 44px;
    position: absolute;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center right;
    display: none; }
  #header .menu.open {
    opacity: 1; }
  #header .title {
    height: 100%;
    position: absolute;
    line-height: 44px;
    font-size: 125%;
    color: white; }
    #header .title .headertitle {
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: left;
      float: left;
      color: #f1f1f1;
      line-height: 20px;
      text-transform: up;
      height: 20px;
      width: 100%;
      padding: 4px 5px;
      font-size: 80%;
      position: relative;
      top: 18%; }
  #header .pageLogo {
    height: 44px;
    width: 44px;
    position: absolute;
    font-size: 125%;
    display: none;
    text-transform: uppercase;
    background-size: auto 20px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; }
  #header .headerBtn.active {
    opacity: 0.3; }

#header.home_context .pageLogo {
  background-image: url(../img/home.png); }

#header.themes_context .pageLogo {
  background-image: url(../img/setting_white.png); }

#header.saved_context .pageLogo {
  background-image: url(../img/addedfav.png); }

#header.home_context, #header.saved_context, #header.themes_context, #header.profile_context, #header.posts_context {
  display: block;
  box-shadow: #000000 0 2px 2px -2px; }
  #header.home_context .pageLogo, #header.home_context .menu, #header.saved_context .pageLogo, #header.saved_context .menu, #header.themes_context .pageLogo, #header.themes_context .menu, #header.profile_context .pageLogo, #header.profile_context .menu, #header.posts_context .pageLogo, #header.posts_context .menu {
    display: block; }

#header.home_context .refreshI.show {
  display: block; }

#header.post_context {
  display: block;
  box-shadow: #000000 0 2px 2px -2px; }
  #header.post_context .progress, #header.post_context .save, #header.post_context .share, #header.post_context .back {
    display: block; }
  #header.post_context .allTh {
    display: none; }

#header.noThemes .menu {
  display: none; }

/*# sourceMappingURL=index.css.map */
